.venv/
__pycache__/
*.pyc
.ipynb_checkpoints/
.DS_Store
data/raw/
data/processed/
reports/figures/

# LaTeX build artifacts
reports/*.aux
reports/*.log
reports/*.out
reports/*.fls
reports/*.fdb_latexmk
reports/*.synctex.gz
